<!DOCTYPE html>
<html id="home" lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="../public/index.css"></link>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<style>
     body {
            background-color: skyblue;
            
        }
        .card-body{
            margin-top: 50px;
            padding: 30px;
            width: 100%;
        }
        .card{
            width: 100%;
        }
       #copyy{
           margin-top: 15px;
           margin-bottom: 5px;
           display: none;
       }
        #linkk{
            /* display: none; */
         font-size: 0.5em;
            height: 20%;
            color: tomato;
            background-color: transparent;
            border-radius: 5px transparent;
        }
        input{
            /* display: none; */
         font-size: 0.5em;
            height: 20%;
            color: tomato;
            background-color: transparent;
            border-radius: 5px transparent;
    
        }
        #copy{
width: 20%;
        }
        .column_home {
  align-content:center;
  height: 100%;
  width: 80%;
  margin-left:150px;
  font-size: 1.5em;
}
ul {
  padding: 20px; 
  /*list-style-position: inside;*/
  /*list-style-type: none;*/
}
input[type="submit"] {
    border-radius: 10px;
    background: #45AF7F;
    border: 1px solid #f2f2f2;
    color: #ffffff;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    padding: 0 16px;
    height:50px;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
</style>

</head>

<body>
    <!-- <article> -->
        <div class="visible">
        <div class="container visible">
            <div class="roww">
              <div >
                <div class="card" style="border-color:green; background-color: lavender;">
                  <div class="card-body text-center">
                      <h1  style="text-align:center; color: green;"><b>Create a meet</b><h1>  <br>
                    <input type="text" class="form-control" id="conference-name" placeholder="Enter Your Broadcast Name"><br>
                    
                    <button id="start-conferencing" class="btn btn-success">Create New Meeting</button>
                   
                      <div id="copyy">
                    <textarea id="linkk" name="linkk" class="js-textareacopybtn"></textarea>
                    <button id="copy" class="btn btn-success">Copy link</button>
                    </div>
                  
                    <button id="start" class="btn btn-success">Start Meeting</button>
                     <!-- <button id="share-code" class="btn btn-success">Share meeting code</button> -->
                </div>
              </div>
            </div>
            <div>
                <div class="card" style="border-color:green; background-color: lavender;">
                    <div class="card-body text-center">
                        <h1  style="text-align:center; color: green;"><b>Join Room</b><h1>
                            <input type="text" class="form-control" id="conference-name" placeholder="Enter Your Broadcast Name">
                            <input id="code" placeholder="Enter meeting link..." /> 
                            <button id="join" class="btn btn-success">Join</button>
               <br>
                <table id="rooms-list" class="visible"  style="text-align:center; color: green;"></table>
                </div></div>

              </div>
            </div>
<div class="column_home" id="left-col" align="center">
       <!-- <img src = "/static/CSS/images/text.png" width="100%"> -->
       <h1 style="margin-top: 35px;"> Test Simulator</h1>
         <div style="width:70%; text-align:justify; align-content:center; display:inline-block;">
           <p> Use the text interview simulator and get a feedback on how our algorithm interprets your psychological traits through compared to other candidates.</p>
           <br>
           <p> You will be provided a feedback on your Big Five Psychological traits, which include :
           <ul>
             <li>Openness</li>
             <li>Conscientiousness</li>
             <li>Extraversion</li>
             <li>Agreeableness</li>
             <li>Neuroticism</li>
         </ul>
         <br>
         </div>
     </div>
         <div class="column_home" id="left-col" align="center" style="margin-bottom:45px">
        <form action="http://127.0.0.1:5000/text" method="post" align="center">
          <input type="submit" name="text" value="Text Interview" align="center">
        </form>
    </div>
            </div>
            </div>
            </div>
      
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
  let newb=document.getElementById("start-conferencing");
  let startmeet=document.getElementById("start") 
  let copylink=document.getElementById("copy") ;
  let join=document.getElementById("join")
  newb.addEventListener("click",createb);
    join.addEventListener("click",joinm);
  let username=document.getElementById("conference-name");
  startmeet.addEventListener("click",startm)
    copylink.addEventListener("click",copy)
  let code,url;
  function createb(){
      console.log("clicked")
      let name=username.value;
      console.log(name);
      localStorage.setItem("username",name);

      fetch("http://localhost:3030/main",{
          method:"POST",
          headers:{
               Accept: "application/json,*/*",
    "Content-Type": "application/json",
          },
           body: JSON.stringify({
    name: name,
  }),
      })  .then((res) => res.json())
      .then(res=>{
          code=res.code;
         url="http://localhost:3030/"+`${res.code}`
       console.log(url)
       document.getElementById("copyy").style.display="block";
document.getElementById("linkk").value=url;
    });
  }
  function copy(){
var copyTextarea = document.querySelector('.js-textareacopybtn');
  copyTextarea.focus();
  copyTextarea.select();
  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Copying text command was ' + msg);
  } catch (err) {
    console.log('Oops, unable to copy');
  }
  alert("Link Copied!")
  }
  function startm(){
       window.location.href = url;
  }
  function joinm(){
      url=document.getElementById("code").value;
      console.log(url)
        window.location.href = url;
  }
</script>
    <!-- </article> -->

</body>

</html>